.topButton {
  position: fixed;
  z-index: 100;
  bottom: 1rem;
  right: 2rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border-radius: 10%;
}
.arrow{
  width: 3.7rem;
  height: 4rem;
  color: #6060bed2;
}
.arrow :hover{
  box-shadow: 2px 2px 30px white;
}
.hidden{
  opacity: 0%;
}


@media screen and (max-width: 960px) {
  .topButton {
    position: fixed;
    z-index: 100;
    bottom: 1rem;
    right: 1.8rem;
    border-radius: 20%;
    padding: 0.1rem;
    border: none;
    cursor: pointer;
  }
  .arrow{
    width: 3.5rem;
    height: 4rem;
    color: #6060BEd2;
  }
}
