html{
  background-color: #2A2A39;
}
body{
  overflow-x: hidden;
}
main {
  /* background-color: #2A2A39; */
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #f3f3f3;
  height: 230vh;
}
.firstview{
  height: 65vh;
  margin: 5%;
}
.logo{
  position: absolute;
  z-index: 0;
  right: 10%;
  opacity: 50%;
}
.aboutme{
  width: 40%;
  margin-top: 15vh;
}
.spenproj{
  display: flex;
  height: 95vh;
  width: 100%;
}
.specs{
  width: 40%;
  margin: 2%;
}
.specs img{
  padding: 8px;
  margin-inline: 5px;
  width: 50px;
  height: 50px;
}
.projectsCont{
  margin: 2%;
  
}
.projects{
  margin: 2%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  align-items: start;
  justify-content: center;
}
.projects p{
  font-size: calc(5px + 1vmin);
  margin: 1vh;
}


@media screen and (max-width: 960px) {
  main{
    height: 280vh;
  }
  .firstview{
    height: 50vh;
    margin: 5%;
  }
  .logo{
    position: absolute;
    z-index: 0;
    right: 0;
    opacity: 50%;
    zoom: .7;
  }
  .aboutme{
    display: block;
    width: 80%;
    margin: 2%;
  }
  .specs{
    display: block;
    width: 95%;
    margin: 2%;
    color: #F2E9E4;
    margin-bottom: 10vh;
  }
  .specs img{
    padding: 8px;
    margin-inline: 5px;
    width: 65px;
    height: 65px;
  }
  .spenproj{
    display: block;
  }
}

